<template name="MainLayout">
    {{> navbar}}

    <br>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-3">    
                {{> aside}}
            </div>
            <div class="col-sm-8">
                {{> Template.dynamic template=main}}
            </div>
        </div>
    </div>
    

    <br>

    {{> footer}}
</template>
