<template name="addReview">
    <div class="addReviewContainer">

        <h2>Add Review For
            <b>
                {{#with getProduct}}
                    {{name}}
                {{/with}}
            </b>
        </h2>

        <form id="addReviewForm" name="addReviewForm" action="">

            <div class="form-group">
                <p class="formInputHeader">Rating</p>
                <select id="reviewRating" class="form-select" name="reviewRating" required="required">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
                <p class="formInputHeader">Review</p>
                <textarea id="reviewContent" class="form-control" name="reviewContent" rows="5"
                    placeholder="Enter brief description about Review" required="required"></textarea>
            </div>

            <div class="form-group my-3">
                <button class="btn btn-success" type="submit">Add Review</button>
                <a class="btn btn-warning" href="/">Cancel</a>
            </div>
        </form>
    </div>
</template>