body {
  padding: 10px;
  font-family: sans-serif;
}


/* ========================== LOGIN MODAL */
#login-dropdown-list {
  left: -215px;
  top: 28px;
}

.login-link-text {
  text-decoration: none !important;
  color: gray;
  font-size: 20px;
}

.login-link-text:hover {
  color: black;
}



/* ======================== ASIDE */
.aside-container {
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.aside-row {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.aside-row:last-child {
  border-bottom: none;
}

.aside-row-nav {
  margin: 0;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.aside-row-nav:hover {
  color: black;
}



/* ================================ ADD PRODUCT FORM */
.formInputHeader {
  margin: 0;
  margin-top: 20px;
  color: darkgrey;
}

#productDescription {
  width: 100%;
}

#productDescription {
  resize: none;
}



/* ================================ HOME (PRODUCTS) */
.productImage {
  width: 100%;
  height: auto;
}

.reviewStarts {
  height: 20px;
  width: 20px;
}



/* ============================= REVIEWS */
.text-break {
  word-break: break-all;
  margin-left: 10px;
}

.card-img-top {
  height: auto;
  width: 50% !important;
}

.gradientStyle {
  background-image: linear-gradient(0deg, rgb(221, 221, 221), white);
}