<template name="category">
    {{#each allProductsCategory}}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center p-2">
                <img class="productImage" src="{{getImage}}" alt="Image Here">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <div class="d-flex my-3 align-items-center">
                        <span>Average Rating: </span>
                        <div class="d-flex mx-2">
                            {{#each getStarFull}}
                            <img class="reviewStarts" src="/images/golden-star.png" alt="Image Here">
                            {{/each}}
                            {{#each getStarEmpty}}
                            <img class="reviewStarts" src="/images/white-star.png" alt="Image Here">
                            {{/each}}
                        </div>
                        <span>({{getReviewsCountEach}})</span>
                    </div>
                    <p class="card-text">{{description}}</p>
                    <div class="d-flex">
                        <a class="btn btn-secondary" href="/reviews/{{_id}}">Reviews</a>
                        {{#if loggedIn}}
                        <a class="btn btn-primary mx-2" href="/addReview/{{_id}}">Add Review</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</template>