<template name='aside'>
    <h2>Product Categories</h2>
    <div class="aside-container">
        {{#each allCategories}}
        <div class="aside-row">
            <a href="/category/{{_id}}" class="aside-row-nav">{{name}}</a>
        </div>
        {{/each}}
    </div>
</template>