<template name='footer'>
    <footer class="bg-dark text-center text-lg-start">
        <div class="text-light text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          ©️ 2021 Copyright:
          <a class="text-light" href="#">Farid Imanzade</a>
        </div>
      </footer>
</template>