<template name='navbar'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Spatlt!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              </li>
              {{#if loggedIn}}
                <li class="nav-item">
                  <a class="nav-link" href="/addProduct">Add Product</a>
                </li>
              {{/if}}
            </ul>
            <div class="d-flex">
                <div class="bg-light form-control">
                    {{> loginButtons}}
                </div>
            </div>
          </div>
        </div>
      </nav>
</template>