<template name="addProduct">
    <div class="addProductContainer">

        <h2>Add Product</h2>

        <form id="addProductForm" name="addProductForm" action="">
            <div class="form-group">
                <p class="formInputHeader">Name</p>
                <input class="form-control" name="productName" type="text" placeholder="Enter Name of the Product"
                    required="required">
            </div>
            <div class="form-group">
                <p class="formInputHeader">Category</p>
                <select id="productCategory" class="form-select" name="productCategory" required="required">
                    <option value="0">-- Select Category --</option>
                    {{#each allCategories}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <p class="formInputHeader">Product Image</p>
                <input id="myFile" class="form-control" type="file" required="required">
            </div>
            <div class="form-group">
                <p class="formInputHeader">Description</p>
                <textarea id="productDescription" class="form-control" name="productDescription" rows="8"
                    placeholder="Enter brief description about product" required="required"></textarea>
            </div>

            <div class="form-group my-3">
                <label> Featured : </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productFeatured" id="yes" value="true"
                        required="required">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productFeatured" id="no" value=""
                        required="required">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>

            <div class="form-group my-3">
                <button class="btn btn-success" type="submit">Add Product</button>
                <a class="btn btn-warning" href="/">Cancel</a>
            </div>
        </form>

        <!-- 
        {{#with imageFile.with}}
             <img src="{{link}}" alt="{{name}}" />
        {{else}}
            Loading Image...
        {{/with}} -->
    </div>
</template>