<template name="reviews">
    <div class="card mb-3">

        {{#with getProduct}}

        <div class="d-flex justify-content-center">
            <img class="card-img-top col-sm-5" src="{{getImage}}" alt="Image Here">
        </div>
        
        <div class="card-body">
            <h3 class="card-title">{{name}}</h3>
            <p class="card-text">{{description}}</p>
        </div>
        
        {{/with}}
        
        <hr>
        
        {{#with getProduct}}

        <div class="d-flex justify-content-end px-3">
            {{#if loggedIn}}
            <a class="btn btn-success" href="/addReview/{{_id}}">Leave a Review</a>
            {{/if}}
        </div>
        
        {{/with}}
        
        <div class="gradientStyle">
            
            <h3 class="card-title px-3">Rating and Reviews</h3>
            
            <div class="d-flex px-3 my-3 align-items-center">
                <span>Average Rating: </span>
                <div class="d-flex mx-2">
                    {{#each getAvgRatingGolden}}
                    <img class="reviewStarts" src="/images/golden-star.png" alt="Image Here">
                    {{/each}}
                    {{#each getAvgRatingEmpty}}
                    <img class="reviewStarts" src="/images/white-star.png" alt="Image Here">
                    {{/each}}
                </div>
                <span>({{getReviewsCount}})</span>
            </div>
            
            {{#each getLastReviews}}
            
            <div class="d-flex p-3 justify-content-between">
                <div class="d-flex align-items-center col-sm-8">
                    {{#each getStarFull}}
                    <img class="reviewStarts" src="/images/golden-star.png" alt="Image Here">
                    {{/each}}
                    {{#each getStarEmpty}}
                    <img class="reviewStarts" src="/images/white-star.png" alt="Image Here">
                    {{/each}}
                    <span class="text-break">{{text}}</span>
                </div>
                <span class="col-sm-2">{{getTime}}</span>
            </div>
            
            {{/each}}
        </div>
    </div>
</template>